<h2 align="center">Course List</h2>
<table align="center">
	<tr>
		<td>{{course1.code}}</td>
		<td>{{course1.name}}</td>
		<td>{{course1.desccription}}</td>
		<td>{{course1.credits}}</td>
		<td>{{course1.instructor}}</td>
	</tr>
	<tr>
		<td>{{course2.code}}</td>
		<td>{{course2.name}}</td>
		<td>{{course2.desccription}}</td>
		<td>{{course2.credits}}</td>
		<td>{{course2.instructor}}</td>
	</tr>
	<tr>
		<td>{{course3.code}}</td>
		<td>{{course3.name}}</td>
		<td>{{course3.desccription}}</td>
		<td>{{course3.credits}}</td>
		<td>{{course3.instructor}}</td>
	</tr>	
</table>