<h2 align="center">Course List</h2>
<div align="center">
	<table border="1">
		<tr>
			<th>Code</th>
			<th>Name</th>
			<th>Description</th>
			<th>Credits</th>
			<th>Instructor</th>
		</tr>
	{{#each courseInfo}}
		<tr>
			<td>{{code}}</td>
			<td>{{name}}</td>
			<td>{{description}}</td>
			<td>{{credits}}</td>
			<td>{{instructor}}</td>
		</tr>
	{{/each}}
	</table>
</div>