<h2 align="center">Course List</h2>
<div align="center">
	<table border="1">
	{{#each courseInfo}}
		<tr>
			<th>Code</th>
			<th>Name</th>
			<th>Description</th>
			<th>Credits</th>
			<th>Instructor</th>
		</tr>
		<tr>
			<td>{{courseInfo.code}}</td>
			<td>{{courseInfo.name}}</td>
			<td>{{courseInfo.description}}</td>
			<td>{{courseInfo.credits}}</td>
			<td>{{courseInfo.instructor}}</td>
		</tr>
	{{/each}}
	</table>
</div>